In [31]:
import pandas as pd
import numpy as np

y = pd.Series()
passenger_id = pd.Series()

def jingalala(csv):
    global y
    global passenger_id
    
    df = pd.read_csv(csv)



    df
    #sibsp/parch -- with fam/ alone
    df[(df.Parch != 0) | (df.SibSp != 0)]

    df['WithFam']= ((df.Parch != 0) | (df.SibSp != 0)).astype(int)

    df.pop('Parch')
    df.pop('SibSp')


    def GetTitle(name):
        try:
            return name.split('.')[0].split(', ')[1]
        except e:
            print e

    # df.Name.apply(GetTitle).value_counts()

    # name = 'Futrelle, Mrs. Jacques Heath (Lily May Peel)'
    # name.split('.')[0].split(', ')[1]

    df['Titles'] = df.Name.apply(GetTitle)


    # df.Titles.value_counts()
    # df[df.Titles.str.contains('Mlle')].Name

    df.Titles = df.Titles.replace(to_replace = 'Lady', value = 'Royalty')
    df.Titles = df.Titles.replace(to_replace = 'Ms', value = 'Miss')
    df.Titles = df.Titles.replace(to_replace = 'the Countess', value = 'Royalty')
    df.Titles = df.Titles.replace(to_replace = 'Sir', value = 'Royalty')
    df.Titles = df.Titles.replace(to_replace = 'Capt', value = 'Officer')
    df.Titles = df.Titles.replace(to_replace = 'Col', value = 'Officer')
    df.Titles = df.Titles.replace(to_replace = 'Rev', value = 'Officer')
    df.Titles = df.Titles.replace(to_replace = 'Jonkheer', value = 'Royalty')
    df.Titles = df.Titles.replace(to_replace = 'Mme', value = 'Mrs')
    df.Titles = df.Titles.replace(to_replace = 'Don', value = 'Royalty')
    df.Titles = df.Titles.replace(to_replace = 'Mlle', value = 'Mrs')
    df.Titles = df.Titles.replace(to_replace = 'Dr', value = 'Officer')
    df.Titles = df.Titles.replace(to_replace = 'Major', value = 'Officer')
    df.Titles = df.Titles.replace(to_replace = 'Dona', value = 'Royalty')

    # df_TitlesMeanAges = df.groupby('Titles').Age.mean()

    title_dict = dict()
    title_dict['Miss'] = (df[(df.Titles == 'Miss')].Age.mean())
    title_dict['Master'] = (df[(df.Titles == 'Master')].Age.mean())
    title_dict['Mr'] = (df[(df.Titles == 'Mr') ].Age.mean())
    title_dict['Mrs'] = (df[(df.Titles == 'Mrs')].Age.mean())
    title_dict['Officer'] = title_dict['Mr']

    def findAge(title):
        return title_dict[title]



    #Missing ages taken care of 
    df.loc[df.Age.isnull(), 'Age'] = df[df.Age.isnull()].Titles.apply(findAge)

    #df.Age.describe()

    df.pop('Name')

    df.loc[df.Age<16, 'Sex'] = 'child'

    df.head(5)
    def label_encoder(sex_):
        if sex_ == 'male':
            return 0
        elif sex_ == 'female':
            return 1
        elif sex_ == 'child':
            return 3

    df.loc[:,'Sex'] = df.Sex.apply(label_encoder)

    df.pop('Ticket')


    # from matplotlib import pyplot
    # %matplotlib inline
    # df.groupby('Embarked').Survived.count().plot()

    
    




    def embarked_label(embarked_):
        if embarked_ == 'S':
            return 0

        elif embarked_ == 'C':
            return 1

        elif embarked_ == 'Q':
            return 2

    df.loc[:, 'Embarked'] = df.Embarked.apply(embarked_label)

    # df.Embarked.value_counts()

   
    if csv == 'test.csv':
        passenger_id = df.pop('PassengerId')
    else:
        df.pop('PassengerId')
        
    # print 'k'

    df.head(5)
    def cabin_category(cabin_):
        try:
            return cabin_[0]
        except:
            return None

    df.loc[:, 'Cabin'] = df.Cabin.apply(cabin_category)

    df.Cabin.fillna(value = 'Missing', inplace=True)

    df.Cabin.unique()

    codes = pd.Series([0,1,2,3,4,5,6,7,8], index=['Missing', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'])

    def cabin_label(cabin_):
        #CabinCodes = pd.Series([0,1,2,3,4,5,6,7,8], index=['Missing', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'])
        return codes[cabin_]

    df.loc[:,'Cabin']= df.Cabin.apply(cabin_label)

    if csv == 'train.csv':
        y = df.pop('Survived')
#         print 'ytrainsetpoppped'


    df.loc[df.Embarked.isnull(), 'Embarked'] = 0
    
    df.Fare.fillna(value = 0, inplace=True)

    gb_fare = df.groupby('Pclass').Fare.median()

    gb_fare.loc[3]

    def findfare(pclass):
        return gb_fare.loc[pclass]

    df.loc[df.Fare == 0, 'Fare'] = df[df.Fare == 0].Pclass.apply(findfare)
    
#     global title_dict2
    
#     title_dict2 = dict({ 'Mr':0,
#                         'Mrs':1,
#                       'Master':2,
#                       'Miss':3,
#                       'Officer':4,
#                       'Royalty':5,
#                       })
    
    df.loc[df.Titles == 'Mr', 'Titles'] = 0
    df.loc[df.Titles == 'Mrs', 'Titles'] = 1
    df.loc[df.Titles == 'Master', 'Titles'] = 2
    df.loc[df.Titles == 'Miss', 'Titles'] = 3
    df.loc[df.Titles == 'Officer', 'Titles'] = 4
    df.loc[df.Titles == 'Royalty', 'Titles'] = 5
    
    
    
    return df

In [32]:
path = ''
train = jingalala(path+'train.csv')
test = jingalala(path+'test.csv')

KeyError: 'Royalty'

In [27]:
train.head()

   Pclass  Sex   Age     Fare  Cabin  Embarked  WithFam Titles
0       3    0  22.0   7.2500      0       0.0        1      0
1       1    1  38.0  71.2833      1       1.0        1      1
2       3    1  26.0   7.9250      0       0.0        0      3
3       1    1  35.0  53.1000      1       0.0        1      1
4       3    0  35.0   8.0500      0       0.0        0      0

In [29]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators = 1000, oob_score = True, n_jobs = -1, random_state = 25,min_samples_leaf= 6)
clf.fit(train,y)

print clf.feature_importances_
print clf.oob_score_

# clf = RandomForestClassifier(n_estimators = 1000, oob_score=True, n_jobs=-1, random_state= 69, min_samples_leaf= 6)
# clf.fit(train_df, y)


pred = clf.predict(test)
# predtrain = clf.predict(train_df)
submission = pd.DataFrame({'PassengerId' : passenger_id,
                            'Survived' : pred})

submission.to_csv('titanicc18july_2', index= False)

# print clf.feature_importances_
# test_df.columns

# print clf.oob_score_
# #best .832772166

[ 0.12767477  0.29896825  0.08591594  0.15936394  0.07154312  0.01771363
  0.23882034]
0.828282828283